/* #cabecalho {
    text-align: center;
    padding-top: 10px;
}

#formulario {
    padding-top: 10px;
}
*/
#formulario_form {
    padding-top: 10px;
}
/*
#validacao {
    padding-top: 30px;
}

#botaoCadastrar {
    text-align: right;
    padding-top: 30px;
}

#textoInicio {
    text-align: center;
} */

#main {
    margin-left: 90px;    
}

#cadastrar {
    margin-top: 30px;
    width: 100%;
}

div h3 {
    margin-top: 20px;
}

.table thead th {
    text-align: center;
}

.table tbody td {
    text-align: center;
}